__pycache__/
logs/
data/
checkpoints/
backend/detector_models/
backend/saved_models/
backend/out/
backend/dataset/
backend/detector_img.py
backend/*.jpeg
backend/*.jpg
backend/*.png
backend/*.mp4
backend/processing_steps/
backend/proces_image.py
backend/experiment/*.png