pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.8.3
numpy==1.23.5
Pillow==10.4.0
pydantic==2.8.2
python-dotenv==1.0.1
torch==2.2.1
torchvision==0.17.1
bchlib==1.0.0
algorithm==1.2.0
astropy==6.0.0
bchlib==1.0.0
data==0.4
dominate==2.9.1
fastapi==0.111.0
ipython==8.12.3
onnx==1.15.0
onnx_tf==1.10.0
opencv_python==4.9.0.80
rawpy==0.19.1
scipy==1.14.0
six==1.16.0
scikit-image==0.24.0
SQLAlchemy==2.0.29
stn==1.0.1
visdom==0.2.4
psycopg2==2.9.9
tensorflow==2.12.0
tensorflow_addons==0.22.0